extends layout 

block content 
    div(class="h-screen text-center text-red-500 text-xl py-10")
        h1 Error! I think you are on the wrong page
        a(href="/" class="underline text-blue-400") go home