extends layout 
include mixins/message_card

block content   
    - let count = 1;
    for message in messages 
        +message_card(message)
    ul(class="pagination flex justify-center items-center gap-1 mt-3 cursor-pointer")
        while count < page_count + 1
            a(href="?page="+count class=`bg-white px-5 py-2 ${current_page === count ? "border-4 border-lime-500 bg-lime-500": ""} hover:bg-lime-500`)=count++