doctype html
html 
    head 
        link(rel="stylesheet" href="/output.css")
        title= title
    body 
        nav(class="text-center mt-4") 
            div(class="top-nav flex items-center justify-center pb-4")
                img(src="/images/logo.png" class="w-10 h-auto")
                a(href="/")
                    p(class="text-3xl line-through") THE EXCLUSIVE CLUB
            div(class="middle-nav flex justify-center items-center gap-2 text-base pb-2") 
                if !user
                    a(href="/sign-up" class="underline") Sign Up
                    a(href="/login" class="underline") Login
                else 
                    ul(class="flex gap-2 text-2xl") 
                        li(class="text-blue-400") HELLO, #{user.username}
                        li 
                            a(href="/" class="underline") New Message 
                        li 
                            a(href="/membership" class="underline") Be a Member 
                        li 
                            a(href="/" class="underline") Be an Admin
                        li 
                            a(href="/logout" class="text-red-400") logout
            div(class="bottom-nav text-base text-light-black")
                p To post a message, Please create an account and become a member 
        block content