extends layout 

block content 
    div(class="form-design flex h-[60vh] w-[90%] items-center container mx-auto justify-between gap-5 px-5 my-7 bg-white border rounded-xl md:max-w-4xl md:py-5 md:h-[70vh]")
        div(class="design bg-lime-500 hidden md:flex flex-col justify-between h-[98%] w-[40%] px-5 py-4 border rounded-lg border-none")
            p(class="uppercase") Exclusive
            h3(class="text-4xl") Continue your <br> journey with us.
            p(class="text-base") To post a message, Please create an account and become a member 
        form(method="post", action="" class="sign-in-form flex flex-col justify-center gap-2 text-base h-[60%] w-[100%] md:w-3/5 md:px-5 md:gap-5")
            p(class="form-title font-bold text-3xl") Hey, hello
            p(class="text-[#BFC2CD] text-sm") Enter the information you entered while registering.
            div(class="username-container flex flex-col")
                label(for="username" class="text-gray-500 text-xl md:text-base") Username 
                input(class="border outline-none py-1 px-2 rounded-lg" type="text" name="username" id="username" required)
            div(class="password-container flex flex-col")
                label(for="password" class="text-gray-500 text-xl md:text-base") Password 
                input(class="border outline-none py-1 px-2 rounded-lg" type="password" name="password" id="password" required)
                if errors
                    ul 
                    each error in errors 
                        li(class="text-red-500 pt-2") #{error.msg}
            button(class="px-2 py-1 bg-lime-500 text-black text-base border rounded-xl border-none") Log In
