extends layout 

block content 
    form(class="membership-form bg-[#D9D9D9] flex flex-col gap-5 container mx-auto max-w-md px-7 py-5 mt-10 w-1/2 text-base" method="post" action="")
        p(class="form-title text-center underline text-lg opacity-50") Be A Member
        div(class="flex flex-col gap-2")
            label(for="secret_code") Secret Code: 
            input(type="text" name="secret_code" id="secret_code" class="border outline-none p-1")
            button(class="px-2 py-1 bg-black text-white text-lg") Submit
        p(class="text-center") Secret code can be found 
            a(href="https://github.com/Chris1-web/the_exclusive_club" target="_blank" class="text-blue-400 underline") here

