extends layout 

block content 
    div(class="form-design flex h-[70vh] items-center container mx-auto max-w-4xl justify-between gap-5 px-5 py-5 my-10 bg-white border rounded-xl")
        div(class="design bg-yellow-200 flex flex-col justify-between h-[98%] w-[40%] px-5 py-4 border rounded-lg border-none")
            p(class="uppercase") Exclusive
            h3(class="text-4xl") Start your <br> journey with us.
            p(class="text-base") To post a message, Please create an account and become a member 
        form(method="post" class="sign-up-form flex flex-col gap-5 px-5 w-3/5 text-base h-[90%]")
            p(class="form-title font-bold text-3xl") Get Started
            div(class="first-name-container flex flex-col")
                label(for="first_name" class="text-gray-500") First Name 
                input(type="text" id="first_name" name="first_name" class="border outline-none py-1 px-2 rounded-lg" required)
            div(class="last-name-container flex flex-col")
                label(for="last_name" class="text-gray-500") Last Name 
                input(type="text" id="last_name" name="last_name" class="border p-1 outline-none py-1 px-2 rounded-lg" required)
            div(class="username-container flex flex-col")
                label(for="username" class="text-gray-500") Username 
                input(type="text" id="username" name="username" class="border p-1 outline-none py-1 px-2 rounded-lg" required)
            div(class="password-container flex flex-col")
                label(for="password" class="text-gray-500") Password 
                input(type="password" id="password" name="password" class=(errors ? "border py-1 px-2 outline-none border-red-500": "border py-1 px-2 outline-none rounded-lg") required) 
            div(class="conform-password-container flex flex-col")
                label(for="confirm_password" class="text-gray-500") Confirm Password 
                input(type="password" id="confirm_password" name="confirm_password" class=(errors ? "border py-1 px-2 outline-none border-red-500": "border py-1 px-2 outline-none rounded-lg") required)
                if errors
                    ul 
                    each error in errors 
                        li(class="text-red-500 pt-2") #{error.msg}
            button(class="px-2 py-1 bg-yellow-200 text-black text-base border rounded-xl border-none") Create Account