@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Della+Respira&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap");

body,
.form-title {
  font-family: "Italiana", serif;
}

.middle-nav,
.bottom-nav,
.sign-up-form {
  font-family: "Inter", sans-serif;
}

.message_card {
  font-family: "Della Respira", serif;
}

.message_card .text {
  font-family: "Raleway", sans-serif;
}

.content-screen {
  min-height: 85vh;
}
