mixin message_card(message)
    div(class="message_card container w-3/6 mx-auto mt-5 px-4 py-2 bg-[#F3F3F3] border-2 rounded-lg border-lime-500")
        div(class="title-container")
            h2(class="uppercase text-2xl pb-2 text-[#2C4507]") #{message.title}
        div(class="text-container")
            p(class="text text-sm text-slate-600") #{message.text}
        div(class="horizontal-line w-100 border border-grey my-3")
        div(class="more-info-container flex list-none justify-between")
            if user === undefined || user.member === false
                li posted by: XXX
                li XXX
            else 
                li posted by: #{message.author.username}
                    if message.author.admin 
                        p(class="text-red-400") admin
                li #{message.message_date}